<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Trail1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>utility.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletDisc</display-name>
    <servlet-name>MyServletDisc</servlet-name>
    <servlet-class>utility.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletDisc</servlet-name>
    <url-pattern>/MyServletDisc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Discussion_form</display-name>
    <servlet-name>Discussion_form</servlet-name>
    <servlet-class>utility.MyServletDisc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Discussion_form</servlet-name>
    <url-pattern>/Discussion_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDiscussion</display-name>
    <servlet-name>CreateDiscussion</servlet-name>
    <servlet-class>utility.CreateDiscussion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDiscussion</servlet-name>
    <url-pattern>/CreateDiscussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateComments</display-name>
    <servlet-name>CreateComments</servlet-name>
    <servlet-class>utility.CreateComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateComments</servlet-name>
    <url-pattern>/CreateComments</url-pattern>
  </servlet-mapping>
</web-app>